body {
    font-family: 'Play', sans-serif;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orangered;
}

.section1 {
    display: flex;
    background-image: url(/Images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width {
    width: 50%;
    padding: 20px;
}

.half-width img {
    width: 70%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(aqua, rgb(32, 32, 236));
    color: aliceblue;
    padding: 10px 40px;
    border-radius: 5px;
}